# Arduino IDE
.arduino15/
.build/
build/
*.elf
*.bin
*.hex
*.map
*.uf2

# VS Code
.vscode/
*.code-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db

# C++ Objects
*.o
*.obj

# Datasheet & binary extras
extras/ads131m08

# Issues
Issues
examples/IssueDiagnostic